services:
  sharepoint-json-helper:
    restart: unless-stopped
    image: alecmaly/sharepoint-json-helper
    command: npm start
    expose: 
      - 3000
    cpus: 0.3
    mem_limit: 512m
    memswap_limit: 512m
    

  # https://github.com/alecmaly/random-info-website
  random-info-website:
    restart: unless-stopped
    image: alecmaly/random-info-website
    command: npm run start
    expose: 
      - 3000

  oss-vuln-server:
    restart: unless-stopped
    build: ./services/oss_vuln_server
    volumes:
      - ./services/oss_vuln_server:/opt/app
    expose: 
      - 3000    
    cpus: 0.5
    mem_limit: 1g
    memswap_limit: 1g

  web3-vuln-server:
    restart: unless-stopped
    build: ./services/web3_vuln_server
    env_file:
      - .env
    volumes:
      - ./services/web3_vuln_server/public:/app/public
      - ./services/web3_vuln_server/contract_monitoring:/app/contract_monitoring
    expose:
      - 3000
    cpus: 0.5
    mem_limit: 2g
    memswap_limit: 2g

  riskfactor-server:
    restart: unless-stopped
    build: ./services/riskfactor_server
    # command: python run.py run
    command: python server.py
    expose: 
      - 8000


  bugbountylookup-server:
    restart: unless-stopped
    build: ./services/bugbountylookup_service
    # command: python run.py run
    command: python findBB.py -web
    expose: 
      - 5000

  blog-search-server:
    restart: unless-stopped
    build: ./services/blog_search_service
    # command: python run.py run
    command: bash run.sh
    volumes:
      - /var/www/html/blog:/var/www/html/blog
      - ./services/blog_search_service:/opt/app
    expose: 
      - 5000
    

  nginx:
    restart: unless-stopped
    # image: jonasal/nginx-certbot:latest
    build: ./services/nginx
    # environment:
    #   - CERTBOT_EMAIL
    env_file:
      - ./services/nginx/nginx-certbot.env
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./services/nginx/local_ca:/etc/local_ca
      - nginx_secrets:/etc/letsencrypt
      - ./services/nginx/user_conf.d:/etc/nginx/user_conf.d
      - /var/www/html/blog:/var/www/html/blog
    depends_on:
      - sharepoint-json-helper
      - random-info-website
      - web3-vuln-server
      - oss-vuln-server
      - riskfactor-server
      - blog-search-server
      - freshrss-server
      - interactsh-web
      - bugbountylookup-server

  freshrss-server:
    image: freshrss/freshrss:latest
    # Optional build section if you want to build the image locally:
    build:
      # Pick #latest (stable release) or #edge (rolling release) or a specific release like #1.21.0
      context: https://github.com/FreshRSS/FreshRSS.git#latest
      dockerfile: Docker/Dockerfile
    container_name: freshrss
    hostname: freshrss
    restart: unless-stopped
    logging:
      options:
        max-size: 10m
    volumes:
      - ./services/freshrss/data:/var/www/FreshRSS/data
      - ./services/freshrss/extensions:/var/www/FreshRSS/extensions
    environment:
      TZ: America/New_York
      CRON_MIN: '3,33'
      TRUSTED_PROXY: 172.16.0.1/12 192.168.0.1/16
      PUID: 1000
      PGID: 1000
    env_file:
      - ./services/freshrss/.env
    expose:
      - 80
    post_start:
      - command: apt update && apt install curl && curl https://gist.githubusercontent.com/alecmaly/91e699ee8aacaabd308c41f0b09f4ab6/raw/68275848d7c4ee79948bcb35e3478f4049b9cddc/patch-freshrss.sh | bash
        user: root


  # to translate github commits to rss feed
  custom-rss-translations:
    restart: unless-stopped
    build: ./services/custom_rss_translations
    command: node server.js
    expose: 
      - 80

  # to solve cloudflare captcha
  # flaresolverr:
  #   image: ghcr.io/flaresolverr/flaresolverr:latest
  #   restart: always
  #   environment:
  #     - LOG_LEVEL=info
  #   expose:
  #     - 8191

  interactsh-web:
    image: projectdiscovery/interactsh-web
    ports:
      - "3000:3000"
    restart: unless-stopped
    cpus: 0.5
    mem_limit: 2g  # 2g needed as "node --max-old-space-size=2048" is running in container
    memswap_limit: 2g 
    

volumes:
  nginx_secrets:
  